
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(28, 28, 48);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: rgb(88, 11, 151);
    width: 33%;
    height: 70%;
    border-radius: 5px;
    border: medium double white;
}
.screen{
    flex:1;
    background-color: rgba(4, 0, 0, 0.446);
    font-size: 90%;
    color: greenyellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: medium solid white;
    overflow-x: auto;
    padding-left: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.row{
    flex: 1;
    display: flex;
    gap: 5px;
    overflow: hidden;
}
.button{
    background-color: rgba(109, 47, 255, 0.88);
    flex:1;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    -webkit-user-select: none;
    min-width: 0;
}
.number:hover,.operation:hover{
    opacity: 0.7;
    color: greenyellow;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.button.erase:hover{
    opacity: 0.7;
    color: red;
}
